{{ define "main" }}

<section class="listing-pages1">

    <div class="container">

        {{ if .Params.blogDescription.enable }}
		{{ with .Params.blogDescription }}
            <p>{{ .descriptionText | markdownify }}</p>
        {{end}}
        {{end}}

        {{ range .Pages}}

            <div style="
                    margin: 40px 0 80px 0;
                    border-image: linear-gradient(to right, #D86E39, #ffffff) 100;
                    border-width: 2px;
                    border-style: solid;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    padding-bottom: 20px;
                    ">
                <h2 style="font-weight: 400; margin-bottom: 20px;">
                    {{ if .Params.titleLink.enable }}
                        <a href="{{ .Permalink }}" style="font-size: 40px;">{{ .Title | markdownify }}</a>
                    {{else}}
                        {{ .Title | markdownify }}
                    {{end}}
                </h2>

                <h3 style="color: #D86E39; font-weight: 500; font-size: 28px;">{{ .Params.subtitle1 | markdownify }}</h3>
                <p>{{ .Params.text1 | markdownify }}</p>
                
                <h3 style="color: #A6BF64; font-weight: 500; font-size: 28px;">{{ .Params.subtitle2 | markdownify }}</h3>
                <p>{{ .Params.text2 | markdownify }}</p>
            </div>

        {{end}}

    </div>

</section>

{{end}}