{{ define "main" }}

<!--============================
=            Banner            =
=============================-->
{{ if site.Data.homepage.banner.enable}}
{{ with site.Data.homepage.banner}}
<section class="banner bg-banner-one overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Content Block -->
				<div class="block">
					<!-- Coundown Timer -->
					{{ if .timer.enable }}
					{{ with .timer }}
					<div class="timer" data-year="{{.year}}" data-month="{{.month}}" data-day="{{.day}}"></div>
					{{ end }}
					{{ end }}
					{{with .heading}}<h1>{{ . | markdownify }}</h1>{{end}}
					{{with .heading_2}}<h2>{{ . | markdownify }}{{end}}</h2>
					<div style="font-size: 1.2rem; color: #fff">{{ .content | markdownify }}</div>
					<h6 style="margin-top: 1rem; font-size: 1.3rem; max-width: 600px; line-height: 1.4; font-style: italic">"In the heart of the Amazon, Belém, geospatial technology transcends borders, revealing a map of unlimited possibilities"</h6>
					<!-- Action Button -->
					{{ if .button.enable }}
					{{ with .button }}
					<a href="{{ .link | absURL }}" class="btn btn-white-md">{{ .label }}</a>
					{{ end }}
					{{ end }}
				</div>
				<div>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}
<!--====  End of Banner  ====-->

<!--===========================
=            About            =
============================-->
{{ if site.Data.homepage.about.enable }}
{{ with site.Data.homepage.about }}
<section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-md-1 d-none d-md-block">
				<img src="{{ "images/ABOUT-FOSS4G.png" | absURL }}" style="width: auto; height: 240px;">
			</div>
			<div class="col-md-5 align-self-center">
				<div class="content-block">
					<h2>{{.title | markdownify}}</h2>
					<div class="description-one">
						{{ .content | markdownify}}
					</div>
					<ul class="list-inline">
						{{ if .button_solid.enable }}
						{{ with .button_solid }}
						<li class="list-inline-item">
							<a href="{{ .link | absURL }}" class="btn btn-main-md">{{.label}}</a>
						</li>
						{{ end }}
						{{ end }}
						{{ if .button_outline.enable }}
						{{ with .button_outline }}
						<li class="list-inline-item">
							<a href="{{ .link | absURL }}" class="btn btn-transparent-md">{{.label}}</a>
						</li>
						{{ end }}
						{{ end }}
					</ul>
				</div>
			</div>
			<div class="col-md-6 align-self-center">
				<img src="{{ "images/arrow-brown.png" | absURL }}" style="margin-left: 27px; width: auto; height: 45px;">
				<div class="image-block">
					<iframe style="max-width: 400px" width="100%" height="255" src="https://www.youtube.com/embed/VTou906-Kj8?si=0bJSKN8ZlqAXg_1i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}
<!--====  End of About  ====-->

<!--==============================
=            Register            =
===============================-->

{{ if site.Data.homepage.register.enable }}
{{ with site.Data.homepage.register }}
<style>
	section.registerGrid {
		overflow-x: hidden;
		width: 100%;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		gap: 0;

	}

	section.registerGrid a,
	section.registerGrid h2,
	section.registerGrid h3,
	section.registerGrid p {
		color: white !important;
	}

	section.registerGrid>div {
		aspect-ratio: 1/1;
	}

	div.registerItemFeatured {
		grid-row: 1/3;
		background: url("{{ "images/register-img.jpg" | absURL }}");
		background-size: cover;
	}

	div.registerItem {
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	section.registerGrid div.registerItem:nth-child(2) {
		background: url("{{ "images/workshops-background.png" | absURL }}");
	}

	section.registerGrid div.registerItem:nth-child(3) {
		background-color: black;
	}

	section.registerGrid div.registerItem:nth-child(4) {
		background: url("{{ "images/program-background.png" | absURL }}");
	}

	section.registerGrid div.registerItem:nth-child(5) {
		background: url("{{ "images/social-events-img.jpg" | absURL }}");
		background-size: cover;
	}

	section.registerGrid a.btn-main-md {
		background-color: white !important;
		color: #EE6F2E !important;
		font-weight: 500;
		margin-top: 20px;
		border-radius: 4px;
		width: 100%;
		font-size: 24px;
	}

	section.registerGrid a > h3:hover {
		transition: all .3s ease;
		opacity: .7;
	}

	@media (max-width:938px) {
		section.registerGrid {
			grid-template-columns: 1fr;
		}

		section.registerGrid>div {
			aspect-ratio: 20/10;
		}

		section.registerGrid>div:first-child {
			aspect-ratio: 1/1;
		}

		section.registerGrid a.btn-main-md {
			width: 90%;
			padding: 20px;
		}
	}

	@media (min-width:939px) and (max-width:1275px) {
		section.registerGrid h2 {
			font-size: 3.25rem
		}

		section.registerGrid h3 {
			font-size: 2.25rem
		}
	}

	@media (min-width:1276px) {
		section.registerGrid h2 {
			font-size: 4rem
		}

		section.registerGrid h3 {
			font-size: 3.25rem
		}
	}
</style>

<section class="registerGrid">
	<div class="registerItemFeatured">
		<div class="row">
			<div class="col-md-8" style="
										background-color: #EE6F2E;
										margin-top: 20px;
										padding: 20px;
										">
				<h2>Register to the event</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 d-none d-md-block" style="text-align: right; padding-right: 40px;">
				<img src="{{ "images/flechas_blanco.png" | absURL }}" style="transform: rotate(-90deg);" alt="">
			</div>
			<div class="col-md-4" style="padding: 0; text-align: center;">
				<a href="{{ .link1 | absURL }}" class="btn btn-main-md">Register Now</a>
			</div>
		</div>
	</div>

	<div class="registerItem">
		<a href="{{ .link2 | absURL }}">
			<h3>Workshops</h3>
			<p>See all here</p>
		</a>
	</div>


	<div class="registerItem">
		<img src="{{ "images/flechas_blanco.png" | absURL }}" style="height: 86px; width: 34px;" alt="">
		<a href="{{ .link3 | absURL }}">
			<h3>Where to stay?</h3>
		</a>
	</div>



	<div class="registerItem">
		<a href="{{ .link4 | absURL }}">
			<h3>Program</h3>
			<p>A wonderful opportunity for networking</p>
		</a>
	</div>


	<div class="registerItem">
		<a href="{{ .link5 | absURL }}">
			<h3>Social Events</h3>
			<p>Stay tuned with all the events here</p>
		</a>
	</div>

</section>
{{ end }}
{{ end }}

<!--==============================
=           Latest news          =
===============================-->

<style>
	section.latest {
		background: url("{{ "images/belem-background.png" | absURL }}");
		background-position: 63% 73%;
		background-repeat: no-repeat;
	}

	section.latest div.card {
		margin-top: 30px;
	}
	section.latest .cardImage {
		height: 325px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	section.latest .cardContent {
		padding: 20px;
	}

	section.latest .cardMiddle {
		margin-top: -30px !important;
	}

	@media (max-width:998px) {
		section.latest {
			background: none;
		}

		section.latest .col-md-4 {
			min-width: 100%;
		}

		section.latest .cardMiddle {
			margin-top: 30px !important;
		}
	}
</style>

{{ if site.Data.homepage.latest.enable }}
{{ with site.Data.homepage.latest }}
<section class="section latest bg-latest">
	<div class="container">
		<div class="belem-background"></div>
		<div class="row" style="padding-bottom: 0;">
			<div class="col-sm-1 d-none d-md-block">
				<img src="{{ "images/FIND-OUT.png" | absURL }}" style="transform: scale(85%); position: absolute; left: 0;" alt="">
			</div>
			<div class="headingLatest col-lg-5 col-md-10 offset-md-1">
				<h3>{{.title | markdownify}}</h3>
				<p>{{ .content | markdownify}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 offset-lg-7">
				<div class="card">
					<div class="card-block">
						<div class="cardImage" style="background: url('{{ .card1Image | absURL}}');"></div>
						<div class="cardContent">
							<h4 class="card-title">{{.card1Title | markdownify}}</h4>
							<p class="card-text p-y-1">{{.card1Text | markdownify}}</p>
							{{ if .card1Link.enable }}
							{{ with .card1Link }}
								<a href="{{ .link | absURL }}">{{.label}}</a>
							{{ end }}
							{{ end }}
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 offset-lg-3">
				<div class="card cardMiddle">
					<div class="card-block">
						<div class="cardImage" style="background: url('{{ .card2Image | absURL}}');"></div>
						<div class="cardContent">
							<h4 class="card-title">{{.card2Title | markdownify}}</h4>
							<p class="card-text p-y-1">{{.card2Text | markdownify}}</p>
							{{ if .card2Link.enable }}
							{{ with .card2Link }}
								<a href="{{ .link | absURL }}">{{.label}}</a>
							{{ end }}
							{{ end }}
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-block">
						<div class="cardImage" style="background: url('{{ .card3Image | absURL}}');"></div>
						<div class="cardContent">
							<h4 class="card-title">{{.card3Title | markdownify}}</h4>
							<p class="card-text p-y-1">{{.card3Text | markdownify}}</p>
							{{ if .card3Link.enable }}
							{{ with .card3Link }}
								<a href="{{ .link | absURL }}">{{.label}}</a>
							{{ end }}
							{{ end }}
						</div>
					</div>
				</div>
			</div>

		</div>
</section>
{{ end }}
{{ end }}

<!--==============================
=             Promote            =
===============================-->

<style>
	section.promote {
		background: url("{{ "images/promote-backround.png" | absURL }}");
		background-size: cover;
		background-position: center right;
		padding: 0;
	}

	section.promote .row {
		padding: 80px 0;
	}

	section.promote h3 {
		font-size: 30px;
		color: white;
		font-weight: 400;
	}

	section.promote .list-group-item {
		background: none;
		border: none;
	}

	section.promote a {
		width: 100%;
	}

	section.promote a.btn-transparent-md {
		background-color: white;
		color: #EE6F2E;
	}
</style>

{{ if site.Data.homepage.promote.enable }}
{{ with site.Data.homepage.promote }}
<section class="section promote">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>{{.title | markdownify}}</h3>
			</div>
			<div class="col-md-4 offset-md-2">
				<ul class="list-group">
					{{ if .button_solid.enable }}
					{{ with .button_solid }}
					<li class="list-group-item">
						<a href="{{ .link | absURL }}" class="btn btn-main-md">{{.label}}</a>
					</li>
					{{ end }}
					{{ end }}
					{{ if .button_outline.enable }}
					{{ with .button_outline }}
					<li class="list-group-item">
						<a href="{{ .link | absURL }}" class="btn btn-transparent-md">{{.label}}</a>
					</li>
					{{ end }}
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}


<!--==============================
=           Final Text           =
===============================-->

<style>

</style>

{{ if site.Data.homepage.finaltext.enable }}
{{ with site.Data.homepage.finaltext }}
<section class="section finaltext">
	<div class="container">

		<h2 style="font-weight: 400;">{{.titleSection | markdownify}}</h2>

		<h3 style="color: #D86E39; font-weight: 500;">{{.title1 | markdownify}}</h3>
		<p>{{ .content1 | markdownify}}</p>
		<h3 style="color: #A6BF64; font-weight: 500;">{{.title2 | markdownify}}</h3>
		<p>{{ .content2 | markdownify}}</p>
		
	</div>
</section>
{{ end }}
{{ end }}

{{ end }}