<!--==============================================
=            Call to Action Subscribe            =
===============================================-->
{{ if site.Params.Subscription.enable }}
{{ with site.Params.Subscription }}
<section class="cta-subscribe bg-subscribe overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mr-auto">
				<!-- Subscribe Content -->
				<div class="content">
					<h3>{{ .title | markdownify }}</h3>
					<p>{{ .content | markdownify }}</p>
				</div>
			</div>
			<div class="col-md-6 ml-auto align-self-center">
				<!-- Subscription form -->
				<form class="row" action="{{ .mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form"
					target="_blank">
					<div class="col-lg-8 col-md-12">
						<input type="email" class="form-control main white mb-lg-0" placeholder="Email">
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="subscribe-button">
							<button class="btn btn-main-md" type="submit" name="subscribe">Subscribe</button>
						</div>
					</div>
					<div style="position: absolute; left: -5000px;" aria-hidden="true">
						<input type="text" name="{{ .mailchimp_form_name }}" tabindex="-1">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}
<!--====  End of Call to Action Subscribe  ====-->


<!--================================background: url("images/footer-background.jpg");
=            Google Map            =
=================================-->

<style>
	section.map {
		background: url("{{ site.Params.backgroundFooter | absURL}}");
		background-size: cover;
		padding-top: 150px;
		clip-path: polygon(0 0, 100% 34%, 100% 100%, 0% 100%);
	}
	section.map .footerInfo {
		background-color: white; 
		max-height: 300px;
		padding: 20px;
	}
	section.map .divMap {
		padding: 0;
	}

	@media (max-width: 991px) {
		section.map {
			clip-path: polygon(0 0, 100% 22%, 100% 100%, 0% 100%);
		}
		section.map .divMap {
			margin-bottom: -8px;
		}
		section.map .contactButton img {
			left: 25%;
    		top: 100%;
		}

	}
	@media (min-width: 992px) {
		section.map .contactButton img {
			left: 63%;
		}
	}

</style>

{{ if site.Params.map.enable }}
{{ with site.Params.map }}
<section class="map">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 divMap">
				<iframe width="100%" height="300" src="https://www.openstreetmap.org/export/embed.html?bbox=-48.45785558223725%2C-1.423240245512067%2C-48.455779552459724%2C-1.4202612286911964&amp;layer=mapnik&amp;marker=-1.421776210723147%2C-48.456841707229614&amp;layer=mapnik&amp;marker=-1.4217681665733908%2C-48.456841707229614"></iframe>
				<br />
				<small>
					<a href="https://www.openstreetmap.org/?mlat=-1.42168&amp;mlon=-48.45677#map=19/-1.42168/-48.45677"></a>
				</small>
			</div>
			<div class="col-lg-6 footerInfo">
				<div style="position: relative;">
					<i class="fa fa-map-marker" style="font-size: 30px;"></i>
					<h4>{{.name | markdownify }}</h4>
					<ul class="list-unstyled">
						<li>
							<a href="https://osm.org/go/N~PVzLbnY--?relation=15986844" style="text-decoration: underline;">{{ .location | markdownify}}</a></span>
						</li>
						<li>
							<span>{{ .email | markdownify}}</span>
						</li>
					</ul>
					<a class="contactButton" href="{{ "contact/" | absLangURL}}"><img src="{{ "images/contact-button.png" | absURL }}" style="transform: scale(75%); position: absolute;" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}
<!--====  End of Google Map  ====-->

<!--============================
=            Footer            =
=============================-->

<style>
	.social-links-footer a {
		display: flex;
		width: 40px;
		height: 40px;
		background-color: white;
		border-radius: 50%;
		justify-content: center;
		align-items: center;
	}

	.social-links-footer i {
		color: #ff6600;
		font-size: 1.3em;
	}

	.iconsContainer {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	@media (max-width: 767px) {
		.footer-logo {
			text-align: center;
			margin-bottom: 20px;
		}
		.iconsContainer {
			justify-content: center;
		}
	}
</style>

<footer class="footer-main">
	<div class="container">
		<div class="row" style="padding-bottom: 0;">
			<div class="col-md-6">
				<div class="footer-logo">
					<a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
						{{ if site.Params.logo }}
						<img class="img-fluid" width="{{site.Params.logo_width}}"
							src="{{ site.Params.logo_footer | absURL}}" alt="{{ site.Title }}">
						{{ else }}
						{{site.Title}}
						{{ end }}
					</a>
				</div>
			</div>
			<div class="col-md-6 iconsContainer">
				<ul class="social-links-footer list-inline">
					{{ range site.Params.social}}
					<li class="list-inline-item">
						<a href="{{ .link | safeURL }}"><i class="fa-brands {{.icon}}"></i></a>
					</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</footer>


{{ "<!-- Google Map API -->" | safeHTML }}
{{ with site.Params.map.gmap_api }}
<script src="{{ . | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}" {{.attributes | safeHTMLAttr}}></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>


<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button"
		class="btn btn-main-sm ml-2">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
		});
		cookieBox.classList.add('cookie-box-hide');
	};
		}
	}) (jQuery);
</script>

<!-- cookie style -->
<style>
	.cookie-box {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		z-index: 9999;
		padding: 1rem 2rem;
		background: rgb(71, 71, 71);
		transition: all .75s cubic-bezier(.19, 1, .22, 1);
		color: #fdfdfd;
	}

	.cookie-box-hide {
		display: none;
	}
</style>
{{ end }}